:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background: #211300;
  background: linear-gradient(nulldeg, rgba(33, 19, 0, 1) 0%, rgba(77, 50, 28, 1) 100%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Header */

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.optionsHeader ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-size: 18px;
}

.optionIndividual {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: 0.3s all ease-in-out;
}

.optionsHeader ul li a {
  color: white;
  transition: 0.3s all ease-in-out;
}

.optionIndividual:hover {
  background-color: #877d6e;
  padding: 10px;
  border-radius: 10px;
}

.imageLogoHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageLogoHeader img {
  width: 200px;
}

